<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-6">
            <img src="../../../assets/offer1.jpg" alt="Offer1" height="90%" width="90%" />
        </div>
        <div class="col-auto">
            <p><b>Offer RED</b></p><hr>
            <p class="text"><strong>Catch Up!!!</strong>Never miss the deal...</p><hr>
            <p class="date">Valid till:<b>31</b><sup>st</sup> May</p>
        </div>
    </div>   
    <!-- <div class="row justify-content-between">
        <div class="col-auto">
            <img src="../../../assets/offer1.jpg" alt="Offer1" height="90%" width="90%" />
        </div>
        <div class="col-sm-6">
            <p><b>Offer RED</b></p><hr>
            <p class="text"><strong>Catch Up!!!</strong>Never miss the deal...</p><hr>
            <p class="date">Valid till:<b>31</b><sup>st</sup> May</p>
        </div>
    </div> -->
</div>
